{% extends 'base.html.twig' %}
{% block body %}
    <table class="border" width="30%" align="left" >
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Category</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody align="left">
        {% for items in Products %}
            <tr>
                <td>{{ items.ProductName }}</td>
                <td>{{ items.ProductPrice }}</td>
                <td>{{ items.ProductDescription }}</td>
                <td>{{ items.CategoryName }}</td>
                <td><a href="{{ path('product_update', {ProductID: items.ProductID}) }}" >Edit</a></td>
                <td><a href="{{ path('product_del', {ProductID: items.ProductID}) }}" >Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Task</h3>
    {#<div class="category">#}
        {#{% for Task in Tasks %}#}
            {#<li>#}
                {#{{ Task.category }}#}
                {#<ol>{{ Task.tags }}</ol>#}
            {#</li>#}
        {#{% endfor %}#}
    {#</div><h3>Category</h3>#}
    <div class="category">
        {% for Cat in Categories %}
            <li>
                {{ Cat.categoryID }}
                <ol>{{ Cat.categoryName }}</ol>
            </li>
        {% endfor %}
    </div>


    <div style="float:right; display: block; width:200px ">
        <a href="{{ path('user_registration') }}" class="button">Register User</a><br>
        <a href="{{ path('product_registration') }}" class="button">Add Product</a><br>
        <a href="{{ path('shop') }}" class="button">Shopping Cart</a><br>
    </div>
{% endblock %}