{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.ProductName) }}
    {{ form_row(form.ProductPrice) }}
    {{ form_row(form.ProductDescription) }}
    {{ form_row(form.CategoryName) }}

    <button type="submit">Add Product</button>
    {{ form_end(form) }}

{% endblock %}