{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.UserID) }}
    {{ form_row(form.ProductID) }}
    {{ form_row(form.PurchaseDate) }}
    {{ form_row(form.Amount) }}

    <button type="submit">Add Product</button>
    {{ form_end(form) }}

{% endblock %}